In [49]:
import os
import glob
import pandas as pd
import xml.etree.ElementTree as ET
import re

In [54]:
def xml_to_csv(path):
    xml_list = []
    for xml_file in glob.glob(path + '/*.xml'):
        tree = ET.parse(xml_file)
        root = tree.getroot()
        name = root.find('filename').text
        num = re.findall(r'\d+', name)
        value = (name,
                int(root.find('size')[0].text),
                int(root.find('size')[1].text),
                int (root.find('size')[2].text),
                root.find('object')[0].text,
                int(num[0]),
                int(root.find('object')[4][0].text),
                int(root.find('object')[4][1].text),
                int(root.find('object')[4][2].text),
                int(root.find('object')[4][3].text)
                )
        xml_list.append(value)
    column_name = ['filename', 'width', 'height', 'depth', 'class', 'number','xmin', 'ymin', 'xmax', 'ymax']
    xml_df = pd.DataFrame(xml_list, columns=column_name)
    return xml_df

In [84]:
path = '/Users/jakechiu/Desktop/NEU-DET/ANNOTATIONS'
info = xml_to_csv(path)
info

,filename,width,height,depth,class,number,xmin,ymin,xmax,ymax
0,crazing_61.jpg,200,200,1,crazing,61,74,103,198,166
1,patches_22,200,200,1,patches,22,10,148,57,200
2,patches_36.jpg,200,200,1,patches,36,16,101,70,135
3,crazing_75.jpg,200,200,1,crazing,75,4,54,147,161
4,crazing_8.jpg,200,200,1,crazing,8,1,26,179,118
...,...,...,...,...,...,...,...,...,...,...
1795,patches_13.jpg,200,200,1,patches,13,64,69,116,178
1796,crazing_5.jpg,200,200,1,crazing,5,1,113,199,176
1797,patches_184.jpg,200,200,1,patches,184,34,96,137,186
1798,crazing_44.jpg,200,200,1,crazing,44,146,19,199,177
1799,crazing_78.jpg,200,200,1,crazing,78,1,56,197,130

In [85]:
info = info.sort_values(['class', 'number']).reset_index(drop=True)
info = info.drop(columns = 'number')
info

,filename,width,height,depth,class,xmin,ymin,xmax,ymax
0,crazing_1.jpg,200,200,1,crazing,2,2,193,194
1,crazing_2.jpg,200,200,1,crazing,99,120,200,174
2,crazing_3.jpg,200,200,1,crazing,10,97,200,181
3,crazing_4.jpg,200,200,1,crazing,10,3,197,108
4,crazing_5.jpg,200,200,1,crazing,1,113,199,176
...,...,...,...,...,...,...,...,...,...
1795,scratches_296.jpg,200,200,1,scratches,25,96,139,128
1796,scratches_297.jpg,200,200,1,scratches,132,122,199,138
1797,scratches_298.jpg,200,200,1,scratches,6,7,199,44
1798,scratches_299.jpg,200,200,1,scratches,2,135,200,186
1799,scratches_300.jpg,200,200,1,scratches,88,1,200,34

In [86]:
info.to_csv('/Users/jakechiu/Desktop/NEU-DET/Annotation.csv', index=False)